VEEAM_API_URL=https://your-vbr-server:9419
VEEAM_USERNAME=your-username
VEEAM_PASSWORD=your-password

VRO_API_URL=https://your-vro-server:9898
VRO_USERNAME=your-vro-username
VRO_PASSWORD=your-vro-password

VBM_API_URL=https://your-vbm-server:4443
VBM_USERNAME=your-vbm-username
VBM_PASSWORD=your-vbm-password

VEEAM_ONE_API_URL="https://your-vone-server:1239"
VEEAM_ONE_USERNAME="your-vone-username"
VEEAM_ONE_PASSWORD="your-vone-password"

# dev only
NODE_TLS_REJECT_UNAUTHORIZED=0
